
<%= form_for(@post) do |f| %>

  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %>
  <%= f.text_area :content %>
  </p>

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>

  <%= f.fields_for :categories, Category.new do |category_builder| %>
    <%= category_builder.text_field :name %>
  <% end %>

  <%= f.submit %>

  <% end %>
